<div class="h-full w-full div flex justify-center">
    <p class="text-lg w-2/5 mt-16">
        This is a project made for the course Natural Language Processing.
        <br><br>
        This application provides an user interface for text generation models created for 4 randomly chosen subreddits.
        These subreddits are cryptocurrency, me_irl, wallstreetbets and antiwork.
        <br><br>
        In addition to the mentioned models there is also a text classification model that classifies the generated output into 5 different categories.
        Each category corresponds to the specific subreddit, but the 5th category is other.
        <br><br>
        To use the application, just select a model from the list and in the Pilot view type the beginning of the text and press complete.
    </p>
</div>