@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: marker;
    src: url(assets/fonts/PermanentMarker-Regular.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    src: url(assets/fonts/OpenSans-Light.ttf) format('truetype');
}

@layer base {
    html {
        font-family: opensans;
    }
}

@layer utilities {
    .marker {
        font-family: marker;
    }
}